{% extends "base.html" %}



{% block content %}


      
        
  <div class="row">
    <div class="span10 offset2 well contact-wrap">
      <h1 class="page-heading">Contact</h1>
      <div class="span3">
        <ul class="contact">
          <li><i class="icon-phone icon-big"></i><span >916.504.8820</span></li>
            <li><a href="mailto:aidian@aidianholder.net"><i class="icon-envelope icon-big" ></i><span class="two-lines">aidian@aidianholder.net</span></li>
            <li><a href="http://www.twiter.com/aidianz"><i class="icon-twitter icon-big"></i><span >@aidianz</span></a></li>
            <li><a href="http://www.facebook.com/aidian.holder"><i class="icon-facebook icon-big"></i><span >aidian.holder</span></a></li>
            <li><a href="http://www.github.com/aidianholder"><i class="icon-github icon-big"></i><span >aidianholder</span> </a></li>
          </ul>
      </div>
      <div class="span6">
        <form class="contact" action="/sendmessage/" method="post">
              <input class="input-block-level" type="text" id="name" placeholder="your name" />
              <input class="input-block-level" type="email" id="mail" placeholder="your email address">
              <textarea class="input-block-level" id="msg" rows="6" placeholder="your message"></textarea>
              <div class="button-wrap">
                <button type="submit" >Send</button>
              </div>
              
        </form>
      </div>
    </div>
  </div><!--end row-->



        
        

       

      
      
{% endblock %}
    
    