{% extends "base.html" %}

{% block title %}

| Portfolio | Interactives

{% endblock %}


{% block content %}
<h1 class="page-header">Interactives</h1>



  
  <div class="row">
    <section class="span6 offset3 media">
      <a class="pull-left" href="http://projects.aidianholder.com/wildfire/california-firetracker/fire_map.html">
        <img class="media-object" src="http://placehold.it/128x128">
      </a>
      <div class="media-body">
        <h4 class="media-heading">California Wildfire Tracker</h4>
        <p>They were just sucked into space. Mr. Worf, you do remember how to fire phasers? When has justice ever been as simple as a rule book? You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice. I suggest you drop it, Mr. Data. Besides, you look good in a dress. Now, how the hell do we defeat an enemy that knows us better than we know ourselves? Now we know what they mean by 'advanced' tactical training. Your shields were failing, sir. I am your worst nightmare! Yes, absolutely, I do indeed concur, wholeheartedly!</p>
        
      </div>
      
      
      
      
      
    </section>
    
    
  </div>




{% endblock %}
    


   