{% extends "base.html" %}

{% block title %}

| Portfolio | Newscasts

{% endblock %}


{% block content %}
<h1 class="page-header">Portfolio</h1>

      <section class="row portfolio">
        <div class="span3">
          <h2 class="section-header pull-right">Newscasts</h2>
          
        </div>
      
        <div class="span9">
       
          <ul class="thumbnails">
            <li class="span3">
                <a href="{{ STATIC_URL }}video/pages/jackson.html" class="thumbnail stretchy">
                  <div class="img-wrap">
                    <img class="spacer" alt="icon" src="{{ STATIC_URL }}img/spacer.png">
                  
                    <img class="show sprite" src="{{ STATIC_URL }}img/sprite-test.jpg">
                    <span class="play-test"><i class="icon-play icon-4x"></i></span>
                    <span class="title">
                      <h4>Remembering MJ</h4>
                    </span>
                    
                  </div>
                </a>
            
              
            </li>
            <li class="span3">
              
                <a href="{{ STATIC_URL }}video/pages/summer_sizzle.html" class="thumbnail stretchy">
                  <div class="img-wrap">
                    <img class="spacer" alt="icon" src="{{ STATIC_URL }}img/spacer.png">
                    <img class="sprite s2" src="{{ STATIC_URL }}img/sprite-test.jpg">
                    <span class="play"><i class="icon-play icon-4x"></i></span>
                    <span class="title">
                      <h4>Summer Sizzle</h4>
                    </span>
                  </div>
                </a>
                
              
              
            </li>
            <li class="span3">
            
                <a class="thumbnail stretchy" href="{{ STATIC_URL }}video/pages/face_off.html">
                  <div class="img-wrap">
                  <img class="spacer" alt="icon" src="{{ STATIC_URL }}img/spacer.png">
                    <img class="sprite s3" src="{{ STATIC_URL }}img/sprite-test.jpg">
                    <span class="play"><i class="icon-play icon-4x"></i></span>
                    <span class="title">
                      <h4>Final Face-Off</h4>
                    </span>
                  </div>
                </a>
                
              
            </li>
  
            <li class="span3">
                <a href="{{ STATIC_URL }}video/pages/midway.html" class="thumbnail stretchy">
                  <div class="img-wrap">
                  <img class="spacer" alt="icon" src="{{ STATIC_URL }}img/spacer.png">
                    <img class="sprite s4" src="{{ STATIC_URL }}img/sprite-test.jpg">
                    <span class="play"><i class="icon-play icon-4x"></i></span>
                    <span class="title">
                      <h4>Midway Mayhem</h4>
                    </span>
                  </div>
                
                </a>
              
            </li>

            <li class="span3">
                <a href="{{ STATIC_URL }}video/pages/gas_leak.html" class="thumbnail stretchy">
                  <div class="img-wrap">
                  
                  <img class="spacer" alt="icon" src="{{ STATIC_URL }}img/spacer.png">
                    <img class="sprite s5" src="{{ STATIC_URL }}img/sprite-test.jpg">
                    <span class="play"><i class="icon-play icon-4x"></i></span>
                    <span class="title">
                      <h4>Live, Local &amp; Late-Breaking</h4>
                    </span>
                  </div>
                
                </a>
              
            </li>

            <li class="span3">
                <a href="{{ STATIC_URL }}video/pages/whales.html" class="thumbnail stretchy">
                  <div class="img-wrap">
                  <img class="spacer" alt="icon" src="{{ STATIC_URL }}img/spacer.png">
                    <img class="sprite s6" src="{{ STATIC_URL }}img/sprite-test.jpg">
                    <span class="play"><i class="icon-play icon-4x"></i></span>
                    <span class="title">
                      <h4>Saving the Whales</h4>
                    </span>
                  </div>
                
                </a>
              
            </li>


            

          </ul>

        </div><!--end span9 for newscasts-->
        

      </section><!--end portfolio row for newscasts-->


{% endblock %}
    


   