<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Aidian Holder</title>
  
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
  
  <link href='http://fonts.googleapis.com/css?family=Rokkitt:700|Lato|Lato:300i' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}font/FontAwesome/css/font-awesome.min.css">
  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}font/FontAwesome/css/font-awesome-ie7.min.css">
  <![endif]-->

  <!--<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/colorbox/colorbox.css">-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    
  
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame.-->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
 
 <div id="wrap"><!--needed for sticky footer-->		
    <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="span8 offset2 main-nav">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
       
       
        <div class="nav-collapse collapse">
          <ul class="nav pull-left">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-edit"></i> blog <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/blog/">main</a></li>
                <li><a href="/blog/archives/">archive</a></li>
                <li><a href="/blog/categories/">categories</a></li>
             </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-film"></i> portfolio<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/newscasts/">newscasts</a></li>
                <li><a href="/projects/">projects</a></li>
                <li><a href="/interactives/">interactives</a></li>
              </ul>
            </li>
            <li><a href="/resume/" class="active"><i class="icon-list"></i> resume</a></li>
            <li><a href="/contact/"><i class="icon-envelope-alt"></i> contact</a></li>
            
          </ul>
          
        </div>
      </div>
     
      </div>
       
      <!--</div>-->

    </div>
  </div>
</div>
<div class="row" id="social">
  <div class="container">
    <div class="row">
    
    <div class="span3 offset9">

      <a href="http://www.facebook.com/aidian.holder" class="social-link"><i class="icon-facebook-sign icon-2x"></i></a>
      <a href="http://www.twiter.com/aidianz" class="social-link"><i class="icon-twitter-sign icon-2x"></i></a>
      <a href="http://www.github.com/aidianholder" class="social-link"><i class="icon-github-sign icon-2x"></i></a>
      
    </div>
  </div>
</div>
</div>
   
    <section class="container" id="main" role="main">

      <div class="span3">
        <h2 class="section-header pull-right">Experience</h2>
      </div>
      <section class="span6 resume">
        <article class="job">
        <h5>January 2011 - July 2011</h5>
        <h4>Multi-Media Producer<span class="pull-right">KXTV-TV</span></h4>
        <p>Managed and produced content for online and social media platforms. Responsible for creating and editing text, images, and video for daily coverage, breaking news, and special projects while promoting user engagment across platforms. Developed, programmed and deployed interactive content for special projects, sweeps, and topics of high local interest. Designed front-end elements for implementation of SEO-optimization strategy. Regularly produced newscasts on an as needed basis.</p>
      </article>
    <article class="job">
      <h5>August 2006 - January 2011</h5>
      <h4>Producer<span class="pull-right">KCRA-TV</span></h4>
      <p>Responsible for producing newscasts and occasional special projects for NBC affiliate in Sacramento-Stockton-Modesto market (DMA 20). Responsible for all editorial and technical elements of assigned newscasts and supervising news crews and production staff. Field produced special and investigative projects.</p>
    </article>
    <article class="job">
      <h5>August 2005 - August 2006</h5>
      <h4>Producer<span class="pull-right">WBAY-TV</span></h4>
      <p>Produced fast-paced, live-intensive, daily newscasts for ABC affiliate in Green Bay-Appleton, WI market (DMA 69).</p>
    </article>
    <article class="job">
      <h5>April 2004 - August 2005</h5>
      <h4>Producer<span class="pull-right">KOMU-TV</span></h4>
      <p>Newscast producer for NBC affiliate in Columbia - Jefferson City, MO market (DMA 138). Produced special projects, features, and investigative stories. Produced re-purposed, original, and value-added online content.</p>
    </article>
     <article class="job">
      <h5>August 2003 - May 2005</h5>
      <h4>News Editor<span class="pull-right">Missouri News</span></h4>
      <p>Newsroom manager, assignment editor, and reporter for statehouse-based radio wire service providing state government news to commercial and public radio stations.</p>
      </article>
      <article class="job">
        <h5>January 2003 - April 2004</h5>
        <h4>Newscast Director<span class="pull-right">KRCG-TV</span></h4>
        <p>Director/TD for CBS affiliate in Columbia – Jefferson City market. Responsible for supervising production staff and ensuring technical quality of assigned newscasts.</p>
      </article>
      <article class="job">
        <h5>August 2002 - August 2004</h5>
        <h4>Staff Writer<span class="pull-right">The Maneater</span></h4>
        <p>General assignment reporter for twice-weekly, 16,000+ circulation student-run newspaper serving the students, staff, and faculty at the University of Missouri.</p>
      </article>
      <article class="job">
        <h5>May 2002 - August 2002</h5>
        <h4>Associate Producer<span class="pull-right">KIEM-TV</span></h4>
        <p>Associate producer for NBC affiliate in Eureka, CA (DMA 194). Wrote copy, designed graphics, caught feeds, edited video, and performed other duties as needed.</p>
      </article>
      <article class="job">
        <h5>May 2001 - August 2002</h5>
        <h4>Technical Director<span class="pull-right">KIEM-TV</span></h4>
        <p>Technical director and fill-in director. Performed other production jobs as needed.</p>
      </article>
      <article class="job">
        <h5>May 2001 - May 2002</h5>
        <h4>Correspondent<span class="pull-right">The Arcata Eye</span></h4>
        <p>Freelance reporter covering local events, institutions, and personalities for “America’s favorite obscure small-town weekly newspaper.”</p>
      </article>
      <article class="job">
        <h5>January 2001 - May 2001</h5>
        <h4>News Assistant<span class="pull-right">KVIQ-TV</span></h4>
        <p>Wrote copy, shot and edited video, caught feeds and logged tape for CBS affiliate in Eureka, CA. Helped produce late newscasts.</p>
      </article>
    </section>
    <div class="span3">
      <h2 class="section-header pull-right">Education</h2>
    </div>
      <section class="span6 education">

            <h3>University of Missouri – Columbia</h3>
            <h4>Bachelor of Journalism – Broadcast News.</h4> 
            <p>Minor in Political Science. Graduated Cum Laude. Specialized courses included investigative reporting, audience research, and web producing.</p>
                
            <h3>College of the Redwoods</h3>
            <h4>Associate of Arts – Social Science.</h4>
            <p>Lower division and general education coursework. Graduated honors program with highest honors.</p>
      </section>
            



      </section>


  <div id="push"><!--for sticky footer--></div>
  <footer id="footer">
    <div class="container">
      <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
    </div>
  
  </footer>

</div><!--end wrap-->
   
  <script src="{{ STATIC_URL }}js/libs/jquery/jquery-1.9.0.min.js"></script>
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery/jquery-1.9.0.min.js"><\/script>')</script>-->
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.js"></script>
  <!--<script type="text/javascript" src="{{ STATIC_URL }}js/libs/colorbox/jquery.colorbox-min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/videoloader.js"></script>-->


</body>
</html> 
      